@import url("https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/* @font-face {
    font-family: "Kaushan Script", cursive;
    src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: "BBH Hegarty", sans-serif;
    src: url(../fonts/BBH_Hegarty/BBHHegarty-Regular.ttf);
} */

/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
/* End Global */

/* start header */
header {
  background-color: #32353e;
  display: flex;
  padding: 10px 20px;
  justify-content: end;
  color: white;
  align-items: center;
}
header .social-icons {
  margin-right: 30px;
  display: flex;
}
header .social-icons a {
  width: 25px;
  height: 25px;
  background: #15c0c7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: background-color 0.5s;
  color: white;
}
header .social-icons a:hover {
  background-color: white;
}
header .social-icons i {
  font-size: 14px;
  transition: color 0.5s;
}
header .social-icons a:hover i {
  color: #32353e;
}

header form {
  background-color: #4a4e55;
  padding: 5px 10px;
}
header form input {
  background: transparent;
  outline: none;
  border: 0;
  color: white;
}
header form input::placeholder {
  color: white;
}
header form button {
  border: 0;
  color: white;
}
header form {
  background-color: #4a4e55;
  padding: 5px 10px;
}
header form input {
  background: transparent;
  outline: none;
  border: 0;
  color: white;
}
header form input::placeholder {
  color: white;
}
header form button {
  background: transparent;
  border: 0;
  color: white;
}
@media screen and (max-width: 767px) {
  header .social-icons {
    display: none;
  }
  header form {
    width: 100%;
    display: flex;
  }
  header form input {
    flex-grow: 1;
  }
}

/* End header */

/* start Nav */
nav {
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999999;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
}
nav .logo img {
  width: 180px;
}
nav .nav-links {
  display: flex;
  list-style-type: none;
}
nav .nav-links li {
}
nav .nav-links li a {
  color: black;
  padding: 8px;
}
nav .nav-links li a:hover {
  color: #15c0c7;
}
nav .nav-links li a.nav-active {
  color: #15c0c7;
}
nav .personal-info span {
  display: block;
  font-size: 15px;
}
nav .personal-info span a:hover {
  color: #15c0c7;
}
nav i.fa-bars {
  display: none;
  font-size: 22px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  nav .nav-links,nav .personal-info {
    display: none;
  }
  nav i.fa-bars {
    display: block;
  }
}
/* End Nav */

/* Start Landing */
#Landing {
  height: 100vh;
  background-image: url(../imgs/imgi_2_slider_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.layer {
  position: absolute;
  inset: 0;
  background-color: #00000059;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 5px;
}
.landing-content {
  color: white;
  text-align: center;
  width: 55%;
  margin: 0 auto;
  position: relative;
}
.landing-content h1 {
  font-size: 55px;
}
.landing-content p {
  margin: 30px 0;
}
.landing-content a {
  display: block;
  text-decoration: none;
  color: white;
  background: #15c0c7;
  padding: 5px 15px;
  border-radius: 15px;
  transition: background 0.5s;
  width: fit-content;
  margin: 0 auto;
}
.landing-content a:hover {
  background: rgb(51, 51, 51);
}
@media screen and (max-width: 991px) {
  .landing-content h1 {
    margin-bottom: 25px;
  }
  .landing-content p {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .landing-content {
    width: 100%;
  }
}
/* End Landing */

/* Start Buisness */

#Buisness {
  padding: 50px 0;
}
.main-heading {
  text-align: center;
  margin-bottom: 40px;
}
.main-heading h2 {
  position: relative;
}
.main-heading h2::before {
  position: absolute;
  content: "";
  width: 15px;
  background: #15c0c7;
  height: 15px;
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  bottom: -16px;
}
.main-heading h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background: #15c0c7;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: changeW 2s infinite;
}
@keyframes changeW {
  0% {
    width: 100px;
  }
  50% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.business-cards {
  display: flex;
  flex-wrap: wrap;
}
.business-cards .b-card {
  padding: 0 10px;
  width: calc(100% / 3);
}
.business-cards .b-card .b-card-img {
  overflow: hidden;
}
.business-cards .b-card .b-card-img img {
  width: 100%;
  transition: transform 0.5s;
  display: block;
}
.business-cards .b-card .b-card-img:hover img {
  transform: scale(1.2);
}
.business-cards .b-card .b-card-info {
  padding: 10px;
}
.business-cards .b-card .b-card-info span {
  font-size: 16px;
  margin-right: 10px;
  color: #15c0c7;
}
.business-cards .b-card .b-card-info h3 {
  margin: 10px 0;
}
.business-cards .b-card .b-card-info p {
  color: #777;
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .business-cards .b-card {
    width: 50%;
  }
}
@media screen and (max-width: 575px) {
  .business-cards .b-card {
    width: 100%;
  }
}

/* End Buisness */
/* Start Testimonials */
#Testimonials {
  padding: 50px 0;
}
.Testimonials-content {
  display: flex;
  overflow-x: hidden;
  position: relative;
}
.Testimonials-content .testimonial {
  min-width: 50%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.Testimonials-content .testimonial .test-img img {
  display: block;
  border-radius: 50%;
}
.Testimonials-content .testimonial .test-info {
  margin-left: 15px;
}
.Testimonials-content .testimonial .test-info p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777777;
}
.Testimonials-content .testimonial .test-info h4 {
  color: #32353e;
}
.test-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
    display: flex;
    justify-content: space-between;
}
.test-controls div {
  background-color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
      cursor: pointer;
}
.test-controls div i {
  color: #15c0c7;
}
@media screen and (max-width:991px){
  .Testimonials-content .testimonial{
    min-width: 100%;
    flex-direction: column;
    text-align: center;
  }
    .Testimonials-content .testimonial p{
    margin: 10px 0;
  }
}
/* End Testimonials */
body {
  height: 8000px;
}
